# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DummyClient/DummyClient.vcxproj
DummyClient/DummyClient.vcxproj.user
DummyClient/DummyClient.vcxproj.filters
Binary/Debug/GameServer.pdb
Binary/Debug/DummyClient.pdb
DummyClient/x64/Debug/DummyClient.exe.recipe
DummyClient/x64/Debug/DummyClient.ilk
DummyClient/x64/Debug/DummyClient.log
DummyClient/x64/Debug/DummyClient.tlog/CL.command.1.tlog
DummyClient/x64/Debug/DummyClient.tlog/CL.read.1.tlog
DummyClient/x64/Debug/DummyClient.tlog/CL.write.1.tlog
DummyClient/x64/Debug/DummyClient.tlog/DummyClient.lastbuildstate
DummyClient/x64/Debug/DummyClient.tlog/link.command.1.tlog
DummyClient/x64/Debug/DummyClient.tlog/link.read.1.tlog
DummyClient/x64/Debug/DummyClient.tlog/link.write.1.tlog
DummyClient/x64/Debug/vc143.idb
DummyClient/x64/Debug/vc143.pdb
GameServer/GameServer.vcxproj
GameServer/GameServer.vcxproj.filters
GameServer/GameServer.vcxproj.user
GameServer/x64/Debug/GameServer.exe.recipe
GameServer/x64/Debug/GameServer.log
GameServer/x64/Debug/GameServer.ilk
GameServer/x64/Debug/GameServer.tlog/CL.command.1.tlog
GameServer/x64/Debug/GameServer.tlog/CL.read.1.tlog
GameServer/x64/Debug/GameServer.tlog/CL.write.1.tlog
GameServer/x64/Debug/GameServer.tlog/GameServer.lastbuildstate
GameServer/x64/Debug/GameServer.tlog/link.command.1.tlog
GameServer/x64/Debug/GameServer.tlog/link.read.1.tlog
GameServer/x64/Debug/GameServer.tlog/link.write.1.tlog
GameServer/x64/Debug/vc143.idb
GameServer/x64/Debug/vc143.pdb
Libraries/Debug/ServerCore.idb
Libraries/Debug/ServerCore.pdb
ServerCore/Debug/ServerCore.lib.recipe
ServerCore/Debug/ServerCore.log
ServerCore/Debug/ServerCore.tlog/CL.command.1.tlog
ServerCore/Debug/ServerCore.tlog/CL.read.1.tlog
ServerCore/Debug/ServerCore.tlog/CL.write.1.tlog
ServerCore/Debug/ServerCore.tlog/Lib-link.write.1.tlog
ServerCore/Debug/ServerCore.tlog/Lib.command.1.tlog
ServerCore/Debug/ServerCore.tlog/Lib.read.1.tlog
ServerCore/Debug/ServerCore.tlog/ServerCore.lastbuildstate
ServerCore/ServerCore.vcxproj
ServerCore/ServerCore.vcxproj.filters
ServerCore/ServerCore.vcxproj.user
ServerCore/x64/Debug/ServerCore.lib.recipe
ServerCore/x64/Debug/ServerCore.log
ServerCore/x64/Debug/ServerCore.tlog/CL.command.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/CL.read.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/CL.write.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/Lib-link.read.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/Lib-link.write.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/Lib.command.1.tlog
ServerCore/x64/Debug/ServerCore.tlog/ServerCore.lastbuildstate
.vs/Server/FileContentIndex/8126013b-feec-41de-b4ea-adedbc9d7a0e.vsidx
GameServer/x64/Debug/GameServer.tlog/Cl.items.tlog
GameServer/x64/Debug/GameServer.tlog/link.secondary.1.tlog
.vs/Server/v17/Solution.VC.db-wal
.vs/Server/v17/Solution.VC.db-shm
.vs/Server/v17/Solution.VC.db
.vs/Server/v17/ipch/61d0a5e362b205bc.ipch
.vs/Server/v17/DocumentLayout.json
.vs/Server/v17/DocumentLayout.backup.json
.vs/Server/v17/Browse.VC.opendb
.vs/Server/v17/Browse.VC.db-wal
.vs/Server/v17/Browse.VC.db-shm
.vs/Server/v17/Browse.VC.db
.vs/Server/v17/.suo
